#slide-popular .slick-prev  {
    right: 50px;
    bottom: -50px;
    left: unset;
    z-index: 2;
    top: unset;
    /* transform: translateY(100%); */
    
  }
#slide-popular .slick-next {
    right: 0;
    bottom: -50px;
    z-index: 2;
    top: unset;
    /* transform: translateY(100%); */
    
}
.slick-track .slick-slide > div {
margin-right:20px;
}
.slick-track .slick-slide:nth-child(4n) > div {
margin-right:0;
}
#slide-popular .slick-list {
padding-top: 20px;
}
#slide-popular .slick-prev:before, .slick-next:before
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #c3c3c3;
    color: red;
    width: 40px;
    height: 40px;
}
.slick-prev:before {
  content: url('../../../public/assets/icons/previous.svg');

}
.slick-next:before {
  content: url('../../../public/assets/icons/next.svg');
}
@media screen and (max-width: 768px) {
  .slick-track .slick-slide > div {
    margin-right:0;
    }
}